<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyLO MATE Impact Table</title>
  <style>
    table tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    table {
      border-collapse: collapse;
    }

    table td {
      padding: 10px;
    }
  </style>
</head>

<body>
  <%-CONTENT-%>
</body>

</html>