:root {
  --mylo-mate-red: #80251a;
  --icon-color: #676767;
  --hover-color: #666;
  --dark-mode-bg: #333;
}

body.dialog-modal {
  overflow: hidden;
}

a {
  cursor: pointer;
}

#panels > div {
  margin-bottom: 10px;
}

#panels div > header {
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  border-bottom: thin solid #ccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.5rem;
  transition-duration: 0.3s;
}

#panels div > header:before {
  content: "\25BC";
  display: inline-block;
  margin-right: 10px;
  font-size: 0.9em;
  transition: transform 150ms linear;
  transform: rotate(-90deg);
}

#panels div > header[active]:before {
  transform: rotate(0deg);
}

#panels div > header:hover {
  border-bottom-color: var(--hover-color);
  background-color: #222;
  color: white;
}

#panels div > header[active] {
  background-color: #0a0a0a;
  color: white;
}

#panels div > header + section {
  transition: max-height 1s linear;
  max-height: auto;
}

#panels div > header:not([active]) + section {
  max-height: 0;
  overflow: hidden;
}

dialog {
  border: thin grey solid;
  border-radius: 4px;
  box-shadow: 0px 2px 10px var(--hover-color);
  max-width: 80%;
  width: unset;
}

.usergroups-select {
  width: 100%;
  display: block;
  margin: 10px 0;
}

select[multiple] {
  min-height: 130px;
  padding: 3px 5px;
}

select[multiple] option {
  padding: 2px;
}

select[multiple] option:checked {
  text-shadow: none;
}

.actions {
  margin-top: -8px;
  font-size: 0.9em;
  width: 100%;
  text-align: right;
  margin-bottom: -7px;
}

.actions span.action {
  margin-right: 5px;
}

.actions span.action[disabled="true"],
.actions[data-online="false"] .action[data-online-only="true"] {
  cursor: default;
  opacity: 0.6;
  pointer-events: none;
}

.actions span.action,
.actions span.action[disabled="false"],
.action-all.icon {
  cursor: pointer;
}

.icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 4px;
  color: var(--icon-color);
  font-size: 1.3em;
}

.icon-add:before {
  content: "\f067";
}

.icon-upload:before {
  content: "\f0ee";
}

.icon-edit:before {
  content: "\f044";
}

.icon-favourite:before {
  content: "\f005";
}

.icon-delete:before {
  content: "\f1f8";
}

.icon-save:before {
  content: "\f0c7";
}

.icon-open:before {
  content: "\f07c";
}

.icon:not([disabled="true"]):hover:before {
  color: var(--hover-color);
}

.img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
}

.img-import {
  background-image: url("import.svg");
}

.img-export {
  background-image: url("export.svg");
}

#notify {
  left: initial;
  right: 10px;
  background-color: rgb(240, 240, 240);
}

#notify .title {
  margin: 0;
}

.dialog {
  min-width: 300px;
}

.dialog .info {
  margin-bottom: 20px;
}

pre {
  display: inline-block;
  background: rgb(230, 230, 230);
  padding: 3px;
  font-size: 1.1em;
  margin: 3px 0;
}

.userRoles {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
}

.userRoles th {
  text-align: left;
  border-bottom: thin lightgrey solid;
}

table.userRoles tr:nth-child(2) td {
  padding-top: 5px;
}

label {
  user-select: none;
}

fieldset {
  border: 1px solid #bbb;
  margin: 10px 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

fieldset legend {
  font-weight: bold;
}

.iconimage {
  background: url(../images/options.png);
  height: 16px;
  width: 16px;
  float: right;
  margin: 0 4px;
}

.d2licon {
  width: 18px;
  height: 18px;
  float: right;
  margin: 0 4px;
  background-size: contain;
}

.icon-impersonate {
  background-image: url(../images/impersonate.png);
}

.icon-filemanager {
  background-position: 0px 0px;
}

.icon-admintools {
  background-position: -16px 0px;
}

.icon-unitoutline {
  background-position: 0px -16px;
}

.icon-grouplink {
  background: url("https://mylo.utas.edu.au/d2l/img/0/CMC.Main.actGroups.png?v=10.7.10.10018-151");
  height: 16px;
  width: 16px;
  float: right;
  margin: 0 4px;
}

.quicklink {
  clear: both;
  float: right;
  background-color: #fff;
  border: 1px solid #000;
  padding: 2px;
  margin: 0 2px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #757575;
}

.quicklink a {
  text-decoration: none;
  color: #000;
  font-size: 100%;
  cursor: default;
}

.quicklink a:hover {
  text-decoration: underline;
}

label[disabled],
p[depends-on][disabled="disabled"] label {
  color: #aaaaaa;
  pointer-events: none;
}

p[depends-on] {
  padding-left: 30px;
}

.opts-imex {
  width: 14px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}

.opts-import {
  right: 40px;
}

body.file-enter #filezone:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  pointer-events: none;
}

body.file-enter #filezone:after {
  --blue: #5992e6;
  content: 'Drop "MyLO-MATE SettingsExport" file here';
  display: flex;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  border: 4px dashed var(--blue);
  box-sizing: border-box;
  color: var(--blue);
  z-index: 2;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  text-align: center;
}

/* 
body.file-enter.file-enter-invalid #filezone:before {
	background-color: #ffebeb;
}
body.file-enter.file-enter-invalid #filezone:after {
	--blue: #e83e3e;
	content: "Invalid file type"
} */

.mm-dialog-construct {
  position: fixed;
  /* min-height: 150px; */
  width: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  background: white;
  border: thin solid #c7c7c7;
  border-radius: 2px;
  box-shadow: 0 0 0.4px -0.5px black;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mm-dialog-construct p {
  all: unset;
}

.mm-dialog-construct button,
.mm-dialog-construct button:hover {
  all: unset;
  padding: 8px;
  font-size: 11px;
  font-weight: bold;
  line-height: 10px;
  min-height: 25px;
  box-sizing: border-box;
  min-width: 50px;
  text-align: center;
  border-radius: 3px;
  border: thin grey solid;
}

.mm-dialog-construct button[primary],
.mm-dialog-construct button[primary]:hover {
  background: #4285f4;
  color: white;
}

.mm-dialog-construct button {
  background: #efefef;
  color: #444;
}

.mm-dialog-construct button[primary]:hover {
  box-shadow: 0 0 6px #aacaff;
}

.mm-dialog-construct .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.mm-dialog-construct .buttons button {
  margin-right: 10px;
}

.mm-dialog-construct .buttons button:last-child {
  margin-right: 0px;
}

.mm-dialog-construct dt {
  font-weight: bold;
  margin-top: 10px;
}

.mm-dialog-construct dt:first-child {
  margin-top: 0;
}

.mm-dialog-construct dd {
  margin-left: 10px;
}

.mm-dialog-construct input[type="text"] {
  font-size: 1em;
  margin-top: 15px;
}

.save-settings {
  /* float: right;
  text-align: center;
  margin-right: 5px;
  margin-top: 5px; */
  text-align: left;
}

.save-settings .action-text {
  display: block;
  font-size: 10px;
  margin-bottom: 4px;
}

ul#usergroups_groups {
  list-style: none;
  columns: 2;
}

ul#usergroups_groups li label {
  cursor: pointer;
}

ul#usergroups_groups li input[type="radio"] {
  margin-right: 10px;
}

ul#usergroups_groups li[is-favourite="true"] span:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 4px;
  color: var(--icon-color);
  font-size: 1em;
  content: "\f005";
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-mode-bg);
    color: #ddd;
  }

  :root {
    --icon-color: #ddd;
    --hover-color: #757575;
  }

  a {
    color: lightblue;
  }
}

.error {
  background: rgba(255, 0, 0, 0.6);
  padding: 1px 10px;
  margin-bottom: 20px;
  border: 3px solid red;
  border-radius: 4px;
}
