:root {
  --icon-color: #676767;
  --hover-color: #666;
  --background-color: white;
  --text-primary: black;
  --text-secondary: grey;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
}

html,
body {
  width: 280px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary);
}

body {
  padding: 10px;
  width: 260px;
  font-size: 12px;
}

h1 {
  padding: 10px 0;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-size: 1.2em;
}

#logo {
  position: absolute;
  top: 5px;
  left: 5px;
}

fieldset {
  border: thin grey solid;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

legend {
  padding: 0 7px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: thin lightgrey solid;
  padding: 0.4rem 0;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
}

li[function='TandL'] {
  background-color: #ffdddd;
  color: black;
}

li:hover {
  font-weight: bold;
}

li:last-child {
  border-bottom: none;
}

.fa-help:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f059';
  padding-left: 4px;
  color: var(--icon-color);
  font-size: 1.1em;
  cursor: help;
}

p.extra {
  text-align: center;
  width: 100%;
  margin: 0;
  left: 0;
  position: absolute;
  clear: both;
  bottom: 5px;
}

p.extra a {
  color: var(--text-secondary);
  font-size: 0.8em;
  text-decoration: none;
}

p.extra a:hover {
  text-decoration: underline;
}

p.extra a:not(:last-child) {
  border-right: thin solid lightgrey;
  padding-right: 5px;
}

p.info {
  font-size: 0.9em;
  color: var(--text-secondary);
  padding-bottom: 10px;
}

.utas-logo {
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  background-image: url(../images/utas-logo-dark.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

.warning:not([hidden]) {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b30000;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #5a0000;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-primary: #ddd;
    --text-secondary: #bbb;
  }

  a {
    color: lightblue;
  }

  .utas-logo {
    background-image: url(../images/utas-logo-light.png);
  }
}