/* The switch - the box around the slider */

.switch {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 20px;
	top: 20px;
	right: 7px;
}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #359b0d;
}

input:focus+.slider {
	box-shadow: 0 0 1px #359b0d;
}

input:checked+.slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

label.slider-label {
	display: flex;
	flex: 1;
	align-items: center;
}

body {
	position: relative;
}