<style>
	dialog {
		border: thin solid grey;
		border-radius: 2px;
		box-shadow: rgb(179, 179, 179) 0px 0px 2px inset;
		top: 0px;
		bottom: 0px;
		max-width: 600px;
		min-width: 450px;
	}

	.dialog-close {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		width: 16px;
		height: 16px;
		font-weight: bold;
	}

	h1 {
		font-size: 1.3em;
    	border-bottom: thin lightgrey solid;
		font-weight:normal;
	}

	.d2l-typography dialog p {
		margin: 0;
		margin-top: 10px;
		font-size: 16px;
	}
</style>
<h1>User Progress Settings Information</h1>
<p>When assessment score data needs to be hidden from students the User Progress settings in a MyLO site need to be modified. Generally, we hide assignment submission folder information, grades, quiz information and the graphic data. More information on this can be found under <a href="http://www.utas.edu.au/mylo/staff/staff-resources/grades/reviewing-class-marks-for-moderation" class="d2l-link" target="_blank">Reviewing Class Marks For Moderation</a> and <a href="http://www.utas.edu.au/mylo/staff/staff-resources/hints-and-tips-and-known-issues-workarounds2/students-able-to-see-percentage-of-grade-when-this-has-not-been-selected" class="d2l-link" target="_blank">Students able to see Percentage of Grade when this has not been selected</a> (links open in a new tab).</p>