/* img[src*="flag-filled.svg"] {
    background-color: #faa;
    padding: 5px;
} */
img[src*="flag-hollow.svg"] {
    padding: 5px;
}

a[mm-flagged=true]:before {
	display: inline-block;
	content: '';
    -webkit-mask: url(https://s.brightspace.com/lib/bsi/10.8.2-daylight.17/images/tier1/flag-filled.svg) no-repeat center;
    mask: url(https://s.brightspace.com/lib/bsi/10.8.2-daylight.17/images/tier1/flag-filled.svg) no-repeat center;
    padding: 5px;
    vertical-align: middle;
	background-color: #da1414;
	width: 18px;
	height: 18px;
}

a[mm-flagged=true] img {
	display: none;
}