#container #main [title][mm-tooltip] {
	background: lightgrey;
	border-radius: 4px;
	width:fit-content;
	padding: 3px;
}

#container #main [title][mm-tooltip] > [data-mode="tooltip"] {
	font-size: 12px;
	margin: 0 5px;
	border: none;
	background: #eee;
	font-weight: 400;
	padding: 1px 4px;
	border-radius: 2px;
}