.MM_roundingError {
	border: 3px solid #d00 !important;
}

d2l-table-wrapper.loading:before {
	width: 100%;
	height: 100%;
	background: rgba(204, 204, 204, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	z-index: 100;
	border-radius: 5px;
	pointer-events: all;
	user-select: all;
}

d2l-table-wrapper:not(.loading) mm-loader {
	display: none;
}

d2l-table-wrapper.loading mm-loader {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 80px;
	height: 80px;
	z-index: 101;
}