@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.25rem solid rgba(50, 50, 50, 0.2);
  border-top-color: rgba(50, 50, 50, 0.8);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  margin: 15px auto 25px;
}

mm-loader:not([hidden]) {
  display: block;
  contain: content;
}

mm-loader[center] {
	text-align: center;
}

mm-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
