@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.checkbox { position: relative; }
.checkbox::before { 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 0.6em;
    cursor: pointer;
    color: #868686;
    width: 0;
    height: 0;
    padding: 3px;
    content: '\f046';
    position: absolute;
    left: 24px;
	top: -1px;
	z-index: 10;
}

div[sticky-header] {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: thin solid grey;
  z-index: 1;
  margin-bottom: 5px;
}

thead[sticky].sticky-row th {
  position: sticky;
  top: 56px;
  border-bottom: 1px solid #d3d9e3;
  z-index: 1;
}