span[mm-icon-type="action-button"]::before,
span[mm-icon-type="action-link"]::before,
span[mm-icon-type="action-navigation"]::before,
span[mm-icon-type="action-select"]::before,
span[mm-icon-type="view-icon"]::before,
span[mm-icon-type="view-data"]::before,
span[mm-icon-type="tool-widget"]::before,
span[mm-icon-type="tool-icb-sidebar"]::before {
  content: "M";
  display: block;
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 7px;
  font-weight: bold;
  color: white;
  background: #80251a;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 11px;
  transition: width 0.25s ease;
  overflow: hidden;
  z-index: 10;
}

[mm-generated="true"] {
  display: inline-block;
}

span[mm-icon-type="action-button"]:hover::before,
span[mm-icon-type="action-link"]:hover::before,
span[mm-icon-type="action-navigation"]:hover::before,
span[mm-icon-type="action-select"]:hover::before,
span[mm-icon-type="view-icon"]:hover::before,
span[mm-icon-type="view-data"]:hover::before,
span[mm-icon-type="tool-widget"]:hover::before,
span[mm-icon-type="tool-icb-sidebar"]:hover::before,
span[mm-icon-type][mm-icon-show="always"]::before {
  content: "MyLO MATE FEATURE";
  width: 85px;
  z-index: 11;
}

span[mm-icon-show="false"]::before {
  content: "";
  display: none;
}

[mm-icon-render="background"] {
  background: repeating-linear-gradient(
    -55deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 5px,
    rgba(128, 37, 26, 0.15) 2px,
    rgba(128, 37, 26, 0) 6px
  );
}
