.mylo-mate-current,
[mm-status="active"] {
    background-color: rgba(100, 255, 100, 0.15) !important;
}

.mylo-mate-marking-period,
[mm-status="exam"] {
	background-color: rgba(255, 198, 64, 0.3) !important;
}

.mylo-mate-ended,
[mm-status="end"] {
	background-color: rgba(255, 100, 100, 0.15)!important;
}

.mm-access-friendly .mylo-mate-current,
.mm-access-friendly [mm-status="active"] {
	background-color: rgba(0, 0, 255, 0.30) !important;
}
.mm-access-friendly .mylo-mate-current a,.mm-access-friendly .mylo-mate-ended a,
.mm-access-friendly [mm-status] a {
	color: #000;
}