/* .d2l-max-width:not(.d2l-twopanelselector-wrapper) {
	max-width: unset;
} */

:root {
	--mylo-mate-red: #80251a;
}

.floating-jump-buttons {
  right: 10px;
  position: fixed;
  transition: bottom 0.2s ease;
  z-index: 1000;
  display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn {
  border-radius: 50%;
  border: 1px solid #d3d9e3;
  background-color: #f9fafb;
  height: 18px;
  width: 18px;
  padding: 10px;
  box-sizing: content-box;
  cursor: pointer;
  box-shadow: 0 0 15px -5px black;
  outline: none;
  display: block;
  margin: 0;
}

btn[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

ul.unit-outlines li {
  border-bottom: thin lightgrey solid;
  padding: 10px;
  text-align: center;
}

ul.unit-outlines li:first-child {
  padding-top: 0;
}

ul.unit-outlines li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

ul.unit-outlines li a {
  color: #006fc3;
}

ul.unit-outlines li a:hover {
  text-decoration: underline;
}

body[mm-abort='true'] *[mm-view-as-student='false'] {
  display: none;
}

div.mm-dialog-fix {
  border: none;
  width: auto !important;
  max-width: 1000px;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  border-radius: 0.5rem;
  padding: 0;
}

div.mm-dialog-fix .ddial_o2 {
  border-radius: 0.4rem;
}

div.mm-dialog-fix .ddial_t {
  background: none;
}

div.mm-dialog-fix table.d2l-dialog-buttons td {
  white-space: nowrap;
}

div.mm-dialog-fix .ddial_c p {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.d2l-navigation-s-header-logo-area .d2l-navigation-s-link {
  text-overflow: unset;
  white-space: unset;
}

d2l-navigation-main-header {
  padding: 10px 0;
}

img.exit-impersonate {
  height: 30px;
  border-radius: 30px;
  border: 2px solid grey;
  margin-bottom: -4px;
  cursor: pointer;
}

img.exit-impersonate:hover {
  border: 2px solid #006fbf;
}

table.mm-table {
  width: 100%;
  margin: 1em 0;
}

table.mm-table tr :is(th, td) {
  padding: 0.5em 1em;
}

table.mm-table thead {
  background: lightgrey;
  font-weight: bold;
}

table.mm-table tbody tr:nth-child(even) td {
  background: #f1f1f1;
}

.scroll-shadow {
  background-image: linear-gradient(to top, white, white), linear-gradient(to top, white, white),
    linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: bottom center, top center, bottom center, top center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 70px, 100% 70px, 100% 35px, 100% 35px;
  background-attachment: local, local, scroll, scroll;

  overflow-y: auto;
}

[hidden] {
  display: none !important;
}
