<mm-widget-title>Learn About Widgets</mm-widget-title>
<mm-widget-description>
  <p>MyLO MATE includes many widgets that provide extra functionality and saving staff time.</p>
</mm-widget-description>

<style>
  h2 {
    border-bottom: thin solid lightgrey;
    margin-top: 2em;
    color: #017d79;
  }

  h2:first-of-type {
    margin-top: 1em;
  }

  code {
    font-size: 0.8em;
    background: #484848;
    color: #ffb836;
    padding: 0.1em 0.5em;
    border-radius: 3px;
  }

  .about-widget-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 1em;
  }

  .about-widget {
    min-width: 300px;
    max-width: 350px;
    border: thin solid #ddd;
    padding: 1em;
    padding-bottom: 0;
    border-radius: 0.25em;
    box-shadow: 0 0 15px -10px black;
    line-height: 1.6em;
    flex: 1;
  }

  .about-widget:not([inactive]):hover {
    cursor: pointer;
    background-color: #f9f7f7;
    box-shadow: 0 0 15px -10px #0014ff;
  }

  .about-widget > .title {
    margin: 0;
    line-height: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .about-widget > .title mm-fa-icon {
    width: 1.2em;
  }

  .about-widget > .content {
  }
</style>

<mm-widget-result>
  <h2>Widgets available in All Units</h2>
  <p>Note that some of these widgets are off by default, you can turn them on in the options.</p>
  <div class="about-widget-wrapper">
    <div class="about-widget" widget-link="SearchUnit">
      <h4 class="title">
        <mm-fa-icon icon="faSearch"></mm-fa-icon>
        Search Unit
      </h4>

      <mm-collapse-text class="content">
        <p>Search the entire unit for text content, including:</p>
        <ul>
          <li>Web pages</li>
          <li>PDF documents</li>
          <li>Word documents (.docx only)</li>
        </ul>
        <p>
          Also provides a shortcut feature for identifying links that may be blocked overseas, including YouTube, Vimeo and
          Google.
        </p>
      </mm-collapse-text>

      <!-- <div class="content"></div> -->
    </div>

    <div class="about-widget" widget-link="ContentChecker">
      <h4 class="title"><mm-fa-icon icon="faLink"></mm-fa-icon>Check Links</h4>
      <mm-collapse-text class="content">
        <p>
          Automatically checks all links found within the content of this unit, and identifies possible issues. Potential
          issues identified may include
          <code>404 (Page Not Found)</code>
          , and links that won't open in a new tab or window. If found, a link will be provided to each document containing
          issues.
        </p>
        <p>
          A smaller version of this tool will also appear within each Web page, and will run only in the context of that
          document. It will also provide a quick jump feature to any identified issues.
        </p>
      </mm-collapse-text>
    </div>

    <div class="about-widget" widget-link="GradesAnalysis">
      <h4 class="title"><mm-fa-icon icon="faUserGraduate"></mm-fa-icon>Analyse Grades</h4>
      <mm-collapse-text class="content">
        <p>
          Offers charts comparing letter grades taken from the
          <strong>Final Calculated</strong>
          and
          <strong>Final Adjusted</strong>
          Grades, as well as highlighting certain grade information.
        </p>
        <p>
          Alongside this, you can import an Exams White Sheet after the first scan, which will then parse and compare the
          Exams spreadsheet with MyLO data, informing of any differences and allow you to generate a spreadsheet ready for
          the Exams office.
        </p>
      </mm-collapse-text>
    </div>

    <div class="about-widget" widget-link="StatusReport">
      <h4 class="title"><mm-fa-icon icon="faChartBar"></mm-fa-icon>Unit Status Report</h4>
      <mm-collapse-text class="content">
        <p>
          Automatically performs a series of common pre-delivery checks over the unit, identifying any potential issues.
          These checks include:
        </p>
        <ul>
          <li>Confirms that the UnitOutline.pdf file exists, and is not a placeholder.</li>
          <li>Checks for any Web pages that aren't using the current template.</li>
          <li>Checks for any announcements published more than 1 month before the open date of the unit.</li>
          <li>Checks for students who aren't enrolled in a manually created group.</li>
          <li>Lists hidden assignment folders.</li>
          <li>Confirms that Reading List link works.</li>
        </ul>
      </mm-collapse-text>
    </div>

    <div class="about-widget" widget-link="UnitOutlineUploader">
      <h4 class="title"><mm-fa-icon icon="faFileUpload"></mm-fa-icon>Upload Unit Outline</h4>
      <div class="content">
        <p>Quickly and easily upload a new Unit Outline document to the unit.</p>
      </div>
    </div>

    <div class="about-widget" widget-link="WordCloud">
      <h4 class="title"><mm-fa-icon icon="faCloud"></mm-fa-icon>Word Cloud</h4>
      <mm-collapse-text class="content">
        <p>
          Provides a visual representation of the most commonly used words in your unit, from the discussions and/or the unit
          content.
        </p>
      </mm-collapse-text>
    </div>
  </div>

  <h2>Widgets available in your sandpit</h2>
  <p>
    These widgets are available in your sandpit. If you don't have a sandpit, you can order one by logging a job with
    <a
      href="https://utas1.service-now.com/selfservice?id=sc_cat_item&sys_id=2ea6172bdba0b7006223147a3a96198f"
      target="_blank"
      >shared services</a
    >.
  </p>
  <div class="about-widget-wrapper">
    <div class="about-widget" sandpit-only widget-link="EnrolledUsers">
      <h4 class="title"><mm-fa-icon icon="faUsers"></mm-fa-icon>Get Enrolled Staff</h4>
      <mm-collapse-text class="content">
        <p>
          Retrieves a list of Lecturers and Tutors from a unit, or range of units. Search terms are inclusive; ie.
          <code>ABC</code>
          or
          <code>ABC345</code>
          will match
          <code>ABC123 ABC456 Unit Name</code>
        </p>
      </mm-collapse-text>
    </div>

    <div class="about-widget" sandpit-only widget-link="GetAbsentStudents">
      <h4 class="title"><mm-fa-icon icon="faSchool"></mm-fa-icon>Get Absent Students</h4>
      <mm-collapse-text class="content">
        <p>
          Retrieves a list of students what haven't logged into a unit. One spreadsheet per unit is created, and the
          resulting list of spreadsheets is bundled into a zip file for download. Search terms are inclusive; ie.
          <code>ABC</code>
          or
          <code>ABC345</code>
          will match
          <code>ABC123 ABC456 Unit Name</code>
        </p>
      </mm-collapse-text>
    </div>

    <div class="about-widget" sandpit-only widget-link="IdentifyLTIContent">
      <h4 class="title"><mm-fa-icon icon="faBookOpen"></mm-fa-icon>Identify LTI Links in Units</h4>
      <mm-collapse-text class="content">
        <p>Identifies units with pages containing links that may need to be updated for each delivery.</p>
      </mm-collapse-text>
    </div>
  </div>
</mm-widget-result>

<mm-widget-script src="js/mylo-widgets/About.widget.js"></mm-widget-script>
