<mm-widget-title>Get Absent Students</mm-widget-title>
<mm-widget-description>
  <p>Fetches a list of students who haven't logged into a unit, and outputs a .zip file with a spreadsheet per unit.</p>
</mm-widget-description>

<style>
  mm-widget-description p {
    margin: 0;
  }
  mm-widget-control {
    display: flex;
    gap: 1em;
    align-items: flex-end;
  }

  mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }
</style>

<mm-widget-control>
  <d2l-input-text name="MM_enrolled_users_search" placeholder="Units to search for..." label="Units to search"></d2l-input-text>

  <select name="MM_enrolled_users_semester" id="MM_enrolled_users_semester" class="d2l-input-select">
    <option value="" selected disabled hidden>Select a semester</option>
    <option value="S1">Semester 1</option>
    <option value="S2">Semester 2</option>
    <option value="S3">Semester 3</option>
    <option value="S4">Semester 4</option>
    <option value="S5">Semester 5</option>
    <option value="YR">Full Year</option>
    <option value="T1">Term 1</option>
    <option value="T2">Term 2</option>
    <option value="T3">Term 3</option>
    <option value="T4">Term 4</option>
    <option value="A1">Accelerated Period 1</option>
    <option value="A2">Accelerated Period 2</option>
    <option value="A3">Accelerated Period 3</option>
  </select>

  <select name="MM_enrolled_users_year" id="MM_enrolled_users_year" class="d2l-input-select">
    <option value="" selected disabled hidden>Select a year</option>
  </select>

  <d2l-button disabled primary id="MM_enrolled_users_activate"> Collect and Download </d2l-button>
</mm-widget-control>

<mm-widget-result>
  <mm-loader hidden></mm-loader>
  <p class="success status"></p>
  <div class="clearfix button-row backup-text" hidden>
    <input type="text" class="backup-values" value="" />
  </div>
</mm-widget-result>

<mm-widget-script library src="lib/jszip.min.js"></mm-widget-script>
<mm-widget-script library src="lib/filesaver.min.js"></mm-widget-script>
<mm-widget-script src="js/mylo-widgets/GetAbsentStudents.widget.js"></mm-widget-script>
