<mm-widget-title>Grades Analysis</mm-widget-title>
<mm-widget-description>
  <p>
    This widget examines either Calculated or Adjusted Final Grade and provides statistics useful for unit coordinators.
    After analysis, you can download the grades as an Excel spreadsheet.
  </p>
</mm-widget-description>

<style>
  [hidden] {
    display: none !important;
  }

  mm-widget-description p {
    margin: 0;
  }

  .grade-select,
  .student-select,
  .button-row {
    display: flex;
  }

  .grade-select,
  .student-select {
    flex-direction: column;
  }

  .button-row {
    margin: 1em 0;
    gap: 1em;
  }

  input[type='radio'] {
    --size: 1.5em;
    width: var(--size);
    height: var(--size);
    margin: 0;
  }

  .d2l-input-radio-label {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .d2l-input-radio-label:not(:last-of-type) {
    margin-bottom: 1em;
  }

  .heading-text {
    color: #515151;
    font-weight: bold;
    font-variant: all-small-caps;
    margin: 1.5em 0 0.3em;
  }

  .target-groups {
    margin-left: 2em;
  }

  mm-widget-control h3 {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    font-variant: all-small-caps;
  }

  mm-widget-control > div:not(:last-of-type) {
    margin-bottom: 2em;
  }

  mm-widget-result .rounded-table {
    overflow: hidden;
    border-radius: 0.5em;
  }

  mm-widget-result table {
    border-collapse: collapse;
  }

  mm-widget-result table thead {
    background-color: hsl(70, 4%, 95%);
  }

  mm-widget-result table thead th {
    border: thin solid hsl(70, 4%, 90%);
    font-size: 0.8em;
    padding: 0.5em;
  }

  mm-widget-result table td {
    border: thin solid hsl(70, 4%, 90%);
    padding: 0.5em 0.2em;
    text-align: center;
    vertical-align: middle;
  }

  mm-widget-result table tbody tr:nth-child(odd) td {
  }

  mm-widget-result table tbody tr:nth-child(even) td {
    background-color: hsl(70, 4%, 96%);
  }

  .MM_resultsTableLegend {
    margin: 1em 0 1em auto;
    font-size: 0.7em;
    line-height: 1rem;
  }

  td.MM_invalid {
    border: 2px solid #d00;
  }

  td.MM_gradeChange::before,
  td.MM_gradeChange::after {
    content: '**';
  }

  td.MM_gradeChange {
    border: 2px dotted #d00;
    color: #d00 !important;
    font-weight: bold;
  }

  .warning {
    border: dashed #c00 1px;
    padding: 4px;
    margin: 20px 0;
    background: rgba(250, 100, 100, 0.2);
  }

  .MM_resultsTableLegend td {
    color: black;
  }

  .MM_resultsTableLegend td.MM_is9,
  .MM_resultsTable tr.MM_is9 td {
    /* background-color: #fcc !important; */
    background-image: radial-gradient(#f77 1px, #fcc 1px);
    background-size: 15px 15px;
  }

  .MM_resultsTableLegend td.MM_is4748,
  .MM_resultsTable tr.MM_is4748 td {
    /* background-color: #ffc !important; */
    background-image: radial-gradient(#dd0 1px, #ffc 1px);
    background-size: 5px 5px;
  }

  .MM_resultsTableLegend td.MM_isUnder47,
  .MM_resultsTable tr.MM_isUnder47 td {
    color: red;
    font-style: italic;
  }

  .MM_resultsTableLegend td.MM_isOver80,
  .MM_resultsTable tr.MM_isOver80 td {
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue, 1px 1px 0 blue;
  }

  #MM_resultscounter {
    display: block;
    text-align: right;
    margin: 1em 0;
    font-size: 0.8em;
  }

  span.previous-grade {
    color: grey !important;
    text-decoration: line-through;
    margin-right: 0.5em;
  }

  table[show-students='false'] .name {
    display: none;
  }

  [data-type='chart'] {
    width: 100%;
    position: relative;
    aspect-ratio: 2;
  }

  #MM_resultsCharts {
    display: flex;
    flex-wrap: wrap;
  }

  #MM_resultsCharts div[data-type='chart'] {
    flex: 1;
    position: relative;
    width: 100%;
    min-width: 35em;
    height: 55vh;
    max-height: 600px;
    min-height: 500px;
  }

  #MM_resultsCharts div[data-type='chart']:not(:last-of-type) {
    margin-bottom: 2em;
  }

  #MM_resultsCharts div[data-type='chart'] canvas {
    margin: 0 auto;
  }
</style>

<mm-widget-control>
  <div class="grade-select">
    <h3>Grade column for analysis</h3>
    <label class="d2l-input-radio-label">
      <input type="radio" name="grade-type" value="calculated" checked />
      Calculated final grade
      <mm-help title="Choose this option to ignore the adjusted final grade column"></mm-help>
    </label>

    <label class="d2l-input-radio-label">
      <input type="radio" name="grade-type" value="adjusted" />
      Adjusted final grade
      <mm-help
        title="Choose this option to use adjusted final grade, or calculated final grade if adjusted final grade is empty"
      ></mm-help>
    </label>
  </div>

  <div class="student-select">
    <h3>Groups for analysis</h3>
    <label class="d2l-input-radio-label">
      <input type="radio" name="student-select" value="all" checked />
      All students
    </label>

    <label class="d2l-input-radio-label">
      <input type="radio" name="student-select" value="specific" />
      Specific groups
    </label>

    <div class="target-groups" hidden></div>
  </div>

  <div class="button-row">
    <d2l-button class="d2l-button MM_grades_analysis_activate" primary title="Analyse the grades for this unit">
      Analyse Grades
    </d2l-button>

    <d2l-button id="MM_DownloadGrades" disabled title="Download these results as an Excel spreadsheet">
      <d2l-icon icon="d2l-tier1:download"></d2l-icon>
      Download (beta)
    </d2l-button>

    <d2l-button id="MM_MergeGrades" disabled title="Merge Grades with Exams Spreadsheet">
      <d2l-icon icon="tier1:export"></d2l-icon>
      Merge Grades (beta)
    </d2l-button>

    <d2l-button-icon icon="tier1:gear" text="Advanced options" data-config-opener></d2l-button-icon>
  </div>
</mm-widget-control>

<mm-widget-config config-path="analyse-grades">
  <div class="show-student-name">
    <h3>Display student name</h3>
    <label class="d2l-input-radio-label">
      <input type="radio" name="display-student-name" value="hidden" checked />
      Hide student names
    </label>

    <label class="d2l-input-radio-label">
      <input type="radio" name="display-student-name" value="visible" />
      Show student names
    </label>
  </div>
</mm-widget-config>

<mm-widget-result>
  <mm-loader hidden></mm-loader>
  <mm-file-zone style="display: contents" draganddrop>
    <div id="MM_resultsCharts" hidden>
      <div data-type="chart">
        <canvas id="MM_barChartContainer"></canvas>
      </div>
      <div data-type="chart">
        <canvas id="MM_pieChartContainer"></canvas>
      </div>
    </div>
    <div id="MM_resultsTable">
      <table class="MM_resultsTableLegend">
        <tr>
          <td class="MM_isOver80">Blue outline: HD</td>
        </tr>
        <tr>
          <td class="MM_isUnder47">Red italics: NN or missing grade</td>
        </tr>
        <tr>
          <td class="MM_is9">Red background: Grade ends in 9</td>
        </tr>
        <tr>
          <td class="MM_is4748">Yellow background: 47 or 48 grade</td>
        </tr>
        <tr>
          <td class="MM_invalid">Solid border: Invalid Student ID</td>
        </tr>
        <tr>
          <td class="MM_gradeChange">Dotted border: **Grade rounding change**</td>
        </tr>
      </table>
      <span id="MM_resultscounter"></span>
      <div class="rounded-table">
        <table class="MM_resultsTable d2l-table d2l-grid" type="data" show-students="">
          <thead>
            <tr style="text-align: center">
              <th width="20%">Org Defined Id</th>
              <th class="name">Name</th>
              <th width="15%"></th>
              <th width="15%"></th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </mm-file-zone>
</mm-widget-result>

<mm-widget-script library src="lib/chart.min.js"></mm-widget-script>
<mm-widget-script library src="lib/chartjs-plugin-datalabels.js"></mm-widget-script>
<mm-widget-script library src="lib/jszip.min.js"></mm-widget-script>
<mm-widget-script library src="lib/filesaver.min.js"></mm-widget-script>
<mm-widget-script library src="lib/exceljs.min.js"></mm-widget-script>
<mm-widget-script library src="lib/papaparse.min.js"></mm-widget-script>

<mm-widget-script src="js/mylo-widgets/GradesAnalysis.widget.js"></mm-widget-script>
