<mm-widget-title>Identify LTI Links in Content</mm-widget-title>
<mm-widget-description>
  <p>Identifies units with pages containing links that may need to be updated for each delivery.</p>
</mm-widget-description>

<style>
  mm-widget-control {
    display: flex;
    gap: 1em;
    align-items: flex-end;
  }

  mm-widget-control d2l-input-text { flex: 1; }

  mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }
</style>

<mm-widget-control>
  <d2l-input-text placeholder="All units" style="width: auto" label="Search Term (optional)" id="filter"></d2l-input-text>
  <select class="d2l-input-select" id="semester">
    <option value="" selected disabled hidden>Select a semester</option>
    <option value="S1">Semester 1</option>
    <option value="S2">Semester 2</option>
    <option value="S3">Semester 3</option>
    <option value="S4">Semester 4</option>
    <option value="S5">Semester 5</option>
    <option value="YR">Full Year</option>
    <option value="T1">Term 1</option>
    <option value="T2">Term 2</option>
    <option value="T3">Term 3</option>
    <option value="T4">Term 4</option>
    <option value="A1">Accelerated Period 1</option>
    <option value="A2">Accelerated Period 2</option>
    <option value="A3">Accelerated Period 3</option>
  </select>
  <select id="year" class="d2l-input-select">
    <option value="" selected disabled hidden>Select a year</option>
  </select>
  <d2l-button primary role="start-scan">Start Scan</d2l-button>
</mm-widget-control>
<mm-widget-result>
  <mm-loader show-progress hidden height="150" width="150">Loading...</mm-loader>
  <table data-type="results" class="mm-table"></table>
</mm-widget-result>

<mm-widget-script src="js/mylo-widgets/IdentifyLTIContent.widget.js"></mm-widget-script>
