<style>
  .input-area {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    align-items: flex-end;
  }

  .input-area .regex_placeholder {
    flex: 1;
  }

  mm-widget-description p {
    margin: 0;
  }

  .results-order {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.75em;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
  }

  .data-row a {
    color: #006fbf;
    text-decoration: none;
    margin-bottom: 0.5em;
  }

  .data-row a:hover {
    text-decoration: underline;
  }

  mm-widget-result mm-loader:not([hidden]) {
    display: block;
    text-align: center;
  }

  h2 {
    color: #017d79;
    font-size: xx-large;
    margin-bottom: 0;
  }
</style>

<mm-widget-title>Search Unit</mm-widget-title>
<mm-widget-description>
  <p>Search the current unit for:</p>
</mm-widget-description>

<mm-widget-control>
  <div class="input-area">
    <div data-type="plaintext" data-regex-flags="mi" class="regex_placeholder">
      <d2l-input-text
        name="MM_search_unit"
        placeholder="Search text"
        data-disable-on-searching="true"
        data-testid="search-box"
        label="Search in unit"
      ></d2l-input-text>
    </div>

    <d2l-button
      data-disable-on-searching="true"
      data-testid="blocked-search-submit"
      data-action="blocked"
      title="Searches unit for links that may be blocked overseas, including YouTube, Vimeo and SlideShare"
    >
      Find Blocked
    </d2l-button>

    <d2l-button data-disable-on-searching="true" primary data-testid="search-submit" data-action="general">
      Search
    </d2l-button>

    <d2l-button-icon icon="tier1:gear" text="Advanced options" data-config-opener></d2l-button-icon>
  </div>

  <d2l-input-checkbox data-disable-on-searching="true" name="visible_only">
    Only check visible content
    <d2l-icon
      icon="d2l-tier1:help"
      role="img"
      alt="If checked, content in drafted files will be ignored."
      title="If checked, content in drafted files will be ignored."
    ></d2l-icon>
  </d2l-input-checkbox>
</mm-widget-control>

<mm-widget-config config-path="search-unit">
  <d2l-input-checkbox data-disable-on-searching="true" name="search_descriptions"> Check descriptions </d2l-input-checkbox>
  <d2l-input-checkbox data-disable-on-searching="true" name="search_attributes">Check element attributes</d2l-input-checkbox>
  <d2l-input-checkbox data-disable-on-searching="true" name="only_html">Only check HTML pages</d2l-input-checkbox>
  <d2l-input-checkbox data-disable-on-searching="true" name="search_case_sensitive">Case sensitive</d2l-input-checkbox>
  <d2l-input-checkbox data-disable-on-searching="true" name="search_regex">
    Regular expression
    <a href="https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285" target="_blank">
      <d2l-icon
        icon="d2l-tier1:help"
        role="img"
        alt="More information about regular expressions"
        title="More information about regular expressions (opens in a new window)"
      ></d2l-icon>
    </a>
  </d2l-input-checkbox>
</mm-widget-config>

<mm-widget-result>
  <mm-loader hidden center width="100"></mm-loader>
  <span class="results-order" hidden><span class="timer"></span></span>

  <div class="MM_search_row" id="MM_search_results" data-testid="search-results"></div>

  <div class="button-container--align-right hidden" data-action="search-result-actions">
    <d2l-button
      data-disable-on-searching="true"
      disabled
      primary
      data-testid="copy-results"
      data-action="copy-results"
      title="Copy results to clipboard"
    >
      Copy
    </d2l-button>
    <d2l-button
      data-disable-on-searching="true"
      disabled
      primary
      data-testid="save-docx"
      data-action="save-docx"
      title="Save results to Word document"
    >
      Save
    </d2l-button>
  </div>
</mm-widget-result>

<mm-widget-script library src="lib/pdf.min.js"></mm-widget-script>
<mm-widget-script library src="lib/pdf.worker.min.js"></mm-widget-script>
<mm-widget-script library src="lib/jszip.min.js"></mm-widget-script>
<mm-widget-script library src="lib/jszip-utils.min.js"></mm-widget-script>
<mm-widget-script library src="lib/html-docx.js"></mm-widget-script>
<mm-widget-script library src="lib/clipboard.min.js"></mm-widget-script>

<mm-widget-script src="js/mylo-widgets/SearchUnit.widget.js"></mm-widget-script>
