<h2 class="d2l-heading vui-heading-2">Set Unit Template</h2>
<div mm-type-is="widget" mm-widget-name="SetUnitTemplate">

  <p>Set the default unit template for new web pages. Note some template options may not be available in this unit.</p>
  <style>
    #template-selector select {
      padding: 5px;
      margin: 5px;
      width: 100%;
    }

    .template-selector-row {
      margin: 10px 0;
      display: flex;
      flex: 1;
      justify-content: space-between;
    }

    .template-selector-row > * {
      margin-left: 5px;
      margin-right: 5px;
    }

    #MM_enrolled_users_div {
      padding: 1px 0;
    }

    .mm-action-button {
      float: right;
      margin: 0;
      margin-right: 5px;
    }

    .clearfix::after {
      content: '';
      clear: both;
      display: block;
    }

    .button-row {
      padding-bottom: 10px;
    }

    [hidden],
    .hidden {
      display: none;
    }

    [mm-widget-name='SetUnitTemplate'] .success {
      background: #dfd;
      color: #060;
      padding: 10px;
    }

    [mm-widget-name='SetUnitTemplate'] .success:empty {
      display: none;
    }
  </style>
  <div id="MM_enrolled_users_div">
    <div class="template-selector-row" id="template-selector">
      <select hidden name="template-option" id="template-option">
        <option value="ICB">ICB Template</option>
        <option value="D2L">D2L Template</option>
        <option value="Other" disabled>Other</option>
        <option value="None">None</option>
      </select>
    </div>
    <mm-loader></mm-loader>
    <p class="success status"></p>
    <div class="clearfix button-row">
      <button class="d2l-button mm-action-button" is="d2l-button" disabled primary="" id="save-template-settings">
        Save Settings
      </button>
    </div>
  </div>
  <script src="mylo-mate://js/mylo-widgets/SetUnitTemplate.widget.js"></script>
</div>

