<mm-widget-title>Word Cloud Generator</mm-widget-title>
<mm-widget-description>
  <p>Generate a word cloud from:</p>
</mm-widget-description>

<style>
  ul {
    list-style: none;
  }

  .cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cloud:not([loading]) mm-loader {
    display: none;
  }

  .cloud[loading] canvas {
    display: none;
  }

  .blacklist {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
  }

  .blacklist h4 {
    margin: 0;
    margin-bottom: 1em;
  }

  .blacklist .buttons {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    padding-top: 2em;
    gap: 1em;
  }

  .cloud-shape {
    display: flex;
    flex-direction: column;
  }

  .cloud-shape,
  .blacklisted-text,
  .buttons {
    display: flex;
    flex-direction: column;
  }

  .cloud-shape,
  .blacklisted-text,
  .blacklisted-text textarea,
  .buttons {
    flex: 1;
  }
</style>

<mm-widget-control>
  <div class="checkboxes">
    <p>Unit Content</p>
    <ul id="content_types">
      <mm-loader></mm-loader>
    </ul>

    <p>Discussion content</p>
    <ul id="discussion_topics">
      <mm-loader></mm-loader>
    </ul>
  </div>
  <d2l-button primary data-type="run">Generate cloud</d2l-button>
</mm-widget-control>

<mm-widget-result>
  <div class="results" hidden>
    <div class="cloud">
      <mm-loader></mm-loader>
      <canvas id="cloud_render" width="500" height="500"></canvas>
    </div>
    <div class="blacklist">
      <div class="cloud-shape">
        <h4>Cloud shape</h4>
        <label class="d2l-input-radio-label">
          <input type="radio" name="cloud-shape" value="circle" checked />
          Circle
        </label>
        <label class="d2l-input-radio-label">
          <input type="radio" name="cloud-shape" value="square" />
          Square
        </label>
      </div>

      <div class="blacklisted-text">
        <h4>Ignored words (one per line)</h4>
        <textarea rows="10" max-rows="20" class="field"></textarea>
      </div>

      <div class="buttons">
        <d2l-button role="regen">Regenerate</d2l-button>
        <d2l-button role="button" data-action="save" primary="true">Save Image</d2l-button>
      </div>
    </div>
    <div class="data">
      <table class="word-list">
        <thead>
          <th class="word">Word</th>
          <th>Frequency</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</mm-widget-result>
<!-- <script src="mylo-mate://js/mylo-widgets/CommonWords.json" rel="preload" as="fetch" type="text/json"></script> -->

<mm-widget-script library src="lib/wordcloud2.js"></mm-widget-script>
<mm-widget-script library src="lib/pdf.min.js"></mm-widget-script>
<mm-widget-script library src="lib/pdf.worker.min.js"></mm-widget-script>
<mm-widget-script library src="lib/jszip.min.js"></mm-widget-script>
<mm-widget-script library src="lib/jszip-utils.min.js"></mm-widget-script>
<mm-widget-script src="js/mylo-widgets/WordCloud.widget.js"></mm-widget-script>
